body {
    background-color: #ddd9d9;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: #142530;
    color: white;
    padding: 20px;
}

#sinistra {
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

#destra {
    display: flex;
    justify-content: end;
    width: 5%;
}

#home {
    margin-right: 1px;
}

#prod {
    margin-left: 30px;
}

#comp {
    margin-left: 30px;
}

#cont {
    margin-left: 30px;
}

img {
    width: 100%;
}

#header {
    background-color:#ddd9d9;
    height: 250px;
    color: white;
    padding: 70px;
    margin-top: 20px;
    font-size: 40px;
    background-image: url("/home/federico/Scrivania/LayoutGaleasso/IMAGE/silence1.jpg");
    background-size:105%;
}

#rigaquadrati {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.quadrato {
    border: 1px solid white;
    height: 200px;
    width: 30%;
    background-color: white;
    padding: 1px;
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
}

.quadrato>p {
    font-size: 15px;
    text-align: left;
    color: rgb(58, 58, 58);
    margin-left: 10px;
}

#primo,
#secondo,
#terzo,
#quarto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 150px;
    border: 2px solid white;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 25px;
    color: white;
    margin-top: 20px;
}

#quadcolorati {
    display: flex;
    justify-content: center;
}

#galleria {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 30px;
    margin-top: 20px;
    align-items: center;
}

#primo {
    background-color: #142530;
}

#secondo {
    background-color: #2c3b45;
}

#terzo {
    background-color: #435159;
}

#quarto {
    background-color: #5b666e;
}

#con {
    text-align: left;
    font-family: sans-serif;
    font-size: 30px;
    margin-top: 20px;
    background-color: white;
    height: 300px;
    width: 65%;
}

p {
    font-size: 15px;
    text-align: left;
    color: rgb(58, 58, 58);
    margin-left: 10px;
}

#navig {
    background-color: white;
    font-family: sans-serif;
    font-size: 30px;
    width: 35%;
    height: 300px;
    margin-top: 20px;
}

#penriga {
    display: flex;
}

#hpcc {
    background-color: #ddd9d9;
    color: rgb(58, 58, 58);
    height: 220px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 20px;
    width: 90%;
    height: 210px;
}

#h {
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(58, 58, 58);
    width: 20%;
    margin-bottom: 30px;
}

#p {
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(58, 58, 58);
    width: 20%;
    margin-bottom: 30px;
}

#C {
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(58, 58, 58);
    width: 25%;
    margin-bottom: 30px;
}

#c {
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(58, 58, 58);
    width: 20%;
}

#quattro {
    margin-top: 20px;
    border: 1px solid #ddd9d9;
    width: 30%;
    margin-left: 15px;
}

#navigtxt {
    font-family: sans-serif;
    font-size: 30px;
    width: 50%;
    margin-top: 20px;
    margin-left: 18px;
}

#contenttxt {
    width: 30%;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 30px;
}

#subtxt {
    width: 30%;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 5px;
}

#abtxt {
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;
}

#comptxt {
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;
}

#servtxt {
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;
}

#zoom img:hover {
    width: 35px;
    height: 35px;
}

#logo {
    width: 7%;
    margin-right: 3px;
}

#fine {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    font-family: sans-serif;
}

#fine>p {
    font-family: sans-serif;
    font-size: 15px;
}
#sinistra #home:hover{
    color:#f5bc3b;
    height: 30px;
    transition:0.8s;
}
#sinistra #prod:hover{
    color:#f5bc3b;
    height: 30px;
    transition:0.8s;
}
#sinistra #comp:hover{
    color:#f5bc3b;
    height: 30px;
    transition:0.8s;
}
#sinistra #cont:hover{
    color:#f5bc3b;
    height: 30px;
    transition:0.8s;
}
#quattro #h:hover{
    color:black;
    margin-left:20px;
    transition:0.8s;
}
#quattro #p:hover{
    color:black;
    margin-left:20px;
    transition:0.8s;
}
#quattro #C:hover{
    color:black;
    margin-left:20px;
    transition:0.8s;
}
#quattro #c:hover{
    color:black;
    margin-left:20px;
    transition:0.8s;
}
#quadcolorati #primo:hover{
    color: #142530;
    background-color: #a1a8ac;
    transition:0.8s;
}
#quadcolorati #secondo:hover{
    color: #2c3b45;
    background-color:#a1a8ac;
    transition:0.8s;
}
#quadcolorati #terzo:hover{
    color: #435159;
    background-color: #a1a8ac;
    transition:0.8s;
}
#quadcolorati #quarto:hover{
    color: #5b666e;
    background-color: #a1a8ac;
    transition:0.8s;
}
#adam{
    width: 29%;
    font-family: sans-serif;
    margin-left: 415px;
    font-size: 25px;
    margin-top: 5px;
    color:white;
    font-style: italic;

}
#he{
    width: 40%;
    margin-left:430px;
    margin-top: 70px;
    font-family: sans-serif;
}
#header:hover{
    opacity:0.8;
    transition:0.8s;
    font-size: 210%;
}
#fine:hover{
    opacity:0.7;
    transition:0.8s;
}
#zoom{
    display: flex;
    margin-left: 10px;
}
#zoomsec{
    width: 500%;
}
#zoomsec img:hover {
    width: 35px;
    height: 35px;
}