.contenuto {
    margin: 0;
    padding: 0;
    background-image: url('../img/sfondo.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

.contenuto h1 {
    font-size: 70px;
    margin-bottom: 10px;
    color:white;
}
.contenuto p{
    font-size: 20px;
    margin-bottom: 20px;
    color:rgba(255, 255, 255, 0.699);
}


/*  */

.button {
    --color: #75ad63;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: #191923;
    border:1px solid #75ad63;
   }
   
   .button:active {
    filter: brightness(.8);
   }

.img-logo{
	width:12vh;
}

.green{
	color:#75ad63;
}