head {
    font-family: sans-serif;
}

body {
    background-color: #3f86ff;
    color: white;
    font-family: sans-serif;
}

#container {
    font-family: sans-serif;
}

#ts {
    background-color: #2c4156;
    width: 100%;
    margin-bottom: 10px;
}

#titolo {
    margin-top: 5px;
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
}

#sottotitolo {
    margin-top: 5px;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: sans-serif;
}

#txt {
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    font-family: sans-serif;
}

#img {
    display: flex;
    justify-content: space-between;
}

#salone {
    width: 10px;
    margin-left: 100px;
    margin-top: 20px;
}

#orario {
    width: 10px;
    margin-right: 254px;
    margin-top: 20px;
}

#imgsalone {
    width: 200px;
}

#imgorario {
    width: 200px;
}

#scuolaAperta {
    margin-right: 60px;
    font-family: sans-serif;
}

#orientamento {
    margin-left: 45px;
    font-family: sans-serif;
}

.quaddenina {
    border: 2px solid white;
    background-color: #007bff;
    height: 70px;
    width: 100px;
    margin-left: 50px;
}

#denina {
    display: flex;
    justify-content: center;
    color: white;
}

#fotoafm {
    width: 35%;
}

#fotosia {
    width: 40%;
}

#fotorim {
    width: 40%;
}

#fotocat {
    width: 40%;
}

#rigaorario {
    margin-top: 40px;
    background-color: #4381a4;
}

#titorario {
    font-family: sans-serif;
    font-size: 23px;
    text-align: center;
    margin-bottom: 30px;
}

#rivoira {
    display: flex;
    justify-content: center;
    color: white;
}

.quadrivoira {
    border: 2px solid white;
    background-color: #00be30;
    height: 70px;
    width: 100px;
    margin-left: 50px;
}

#fotoelettro {
    width: 30%;
}

#fotoinfo {
    width: 30%;
}

#pellico {
    display: flex;
    justify-content: center;
    color: white;
}

.quadpellico {
    border: 2px solid white;
    background-color: #ff8200;
    height: 70px;
    width: 100px;
    margin-left: 50px;
}

#fotocomm {
    width: 30%;
}

#fotosanità {
    width: 30%;
}

#fotolegno {
    width: 30%;
}

.quadlegno {
    border: 2px solid white;
    background-color: #b46c20;
    height: 70px;
    width: 100px;
    margin-left: 50px;
}

#zoom1 img:hover {
    width: 400px;
    height: 600px;
    transition: 0.5s;
}

#zoom2 img:hover {
    width: 400px;
    height: 600px;
    transition: 0.5s;
}

#Denina {
    width: 5%;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 0px;
}

#nuovo {
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
}

#homecont {
    display: flex;
    padding: 1px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 50px;
}

#home {
    display: flex;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#cont {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 0px;
}

a:link,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    background-color: #6bb1f2;
}