    body {
        background-color: black;
        margin: 0px;
        padding: 0px;
    }
    
    #DIV {
        background-color: white;
        margin-left: 15px;
    }
    
    #Primo {
        border: 1.5px solid #000000;
        background-color: #a86832;
        width: 95.3%;
        text-align: center;
        font-size: 30px;
        padding: 30px;
        margin: 30px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    #Secondo {
        border: 1.5px solid #000000;
        background-color: #808080;
        width: 90.5;
        text-align: center;
        font-size: 30px;
        padding: 100px;
        margin: 30px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        color: #ffffff;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    #Terzo {
        background-color: #ffffff;
        text-align: center;
        height: 70px;
        width: 99.5%;
        font-size: 30px;
        padding: 2px;
        margin: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        color: #000000;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    #Quarto {
        border: 1.5px solid black;
        background-color: #808080;
        display: inline-block;
        height: 150px;
        width: 10%;
        text-align: center;
        line-height: 140px;
        color: white;
        padding: 30px;
        margin-left: 50px;
        font-size: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    #Quinto {
        border: 1.5px solid black;
        background-color: #808080;
        display: inline-block;
        height: 150px;
        width: 10%;
        text-align: center;
        line-height: 140px;
        color: white;
        padding: 30px;
        margin-left: 305px;
        margin-right: 25px;
        font-size: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    #Sesto {
        border: 1.5px solid black;
        background-color: #808080;
        display: inline-block;
        height: 150px;
        width: 10%;
        text-align: center;
        line-height: 140px;
        color: white;
        padding: 30px;
        margin-left: 250px;
        margin-right: 25px;
        font-size: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    #Settimo {
        border: 1.5px solid black;
        background-color: #808080;
        margin: 30px;
        display: inline-block;
        height: 150px;
        width: 10%;
        text-align: center;
        line-height: 140px;
        color: white;
        padding: 30px;
        margin-left: 50px;
        font-size: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    #Ottavo {
        border: 1.5px solid black;
        background-color: #808080;
        margin: 30px;
        display: inline-block;
        height: 150px;
        width: 10%;
        text-align: center;
        line-height: 140px;
        color: white;
        padding: 30px;
        margin-left: 275px;
        margin-right: 25px;
        font-size: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    #Nono {
        border: 1.5px solid black;
        background-color: #808080;
        margin: 30px;
        display: inline-block;
        height: 150px;
        width: 10%;
        text-align: center;
        line-height: 140px;
        color: white;
        padding: 30px;
        margin-left: 250px;
        margin-right: 25px;
        font-size: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    #Decimo {
        border: 1.5px solid #000000;
        background-color: #003e70;
        width: 95.3%;
        text-align: center;
        font-size: 30px;
        padding: 30px;
        margin: 0px;
        margin-left: 0px;
        margin-right: 0px;
        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }