.container-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.figurine-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}

.set{
    margin-top:30px;
    margin-bottom:30px;
}

.box-ricerca{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  */

.button-dark {
    --color: #191923;
    border:1px solid #f5b83a;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    margin-top:10px;
   }
   
   .button-dark::before, .button-dark::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button-dark::before {
    top: -1em;
    left: -1em;
   }
   
   .button-dark::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button-dark:hover::before, .button-dark:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button-dark:hover {
    color: #f5b83a;
    border:1px solid #191923;
   }
   
   .button-dark:active {
    filter: brightness(.8);
   }

   /*  */

   .figurine-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    margin-bottom:20px;
    padding: 1.5vh;
    transition: box-shadow .3s ease, transform .2s ease;
    border:1px solid #23232350;
    border-radius: 5px;
}
  
.figurine-card:hover {
    box-shadow: 0 8px 50px #23232350;
}

.button-figurine{
    margin-top: 20px;
}

.img-figurine{
    margin-bottom: 30px;
}