.container-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    margin-bottom:50px;
    padding: 1.5vh;
    transition: box-shadow .3s ease, transform .2s ease;
    border:1px solid #23232350;
    border-radius: 5px;
}
  
.pokemon-card:hover {
    box-shadow: 0 8px 50px #23232350;
}

.box-ricerca{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  */

.button-dark {
    --color: #191923;
    border:1px solid #f5b83a;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .button-dark::before, .button-dark::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button-dark::before {
    top: -1em;
    left: -1em;
   }
   
   .button-dark::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button-dark:hover::before, .button-dark:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button-dark:hover {
    color: #f5b83a;
    border:1px solid #191923;
   }
   
   .button-dark:active {
    filter: brightness(.8);
   }

   /*  */

   .input {
    color: black;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%!important;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin:0px!important;
  }
  
  .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
  .input:focus {
    outline: none;
  }
  
  .input:focus + .input-border {
    width: 100%;
  }
  
  .form-control {
    position: relative;
    --width-of-input: 300px;
    border:none!important;
    width:100%!important;
    margin-top:20px;
    margin-bottom:20px;
  }
  
  .input-alt {
    font-size: 1.2rem;
    padding-inline: 1em;
    padding-block: 0.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input-border-alt {
    height: 5px;
    background: #f5b83a;
    transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
    margin-left:12px;
  }
  
  .input-alt:focus + .input-border-alt {
    width: 92%;
  }

  /*  */


select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 200px;
    appearance: none;
    text-align: center;
    height:60px;
  }
  
  select:focus {
    outline: none;
    border-color: #191923; 
  }

  /*  */

  .btn-favorite {
    background-color: #dc3545; /* Colore rosso per i preferiti */
    color: #fff; /* Testo bianco per i preferiti */
  }

  /*  */

  .titolo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:20vh;
    text-align: center;
    font-weight: bold;
  }
  